@page "/splat1"

<h1>属性スプラッティングサンプル（パラメータ指定）</h1>

<input id="useIndividualParams"
       maxlength="5"
       placeholder="ここに入力してください..."
       size="50" />

<input id="useAttributesDict"
       @attributes="Attributes" />

@code {
    private Dictionary<string, object> Attributes { get; set; } =
        new()
        {
                { "maxlength", "5" },
                { "placeholder", "ここに入力してください..." },
                { "size", "50" }
            };
}