<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventcallback-parent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> EventCallback
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-form1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> EditForm1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-form2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> EditForm2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-form3">
                <span class="oi oi-list-rich" aria-hidden="true"></span> EditForm3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edit-form4">
                <span class="oi oi-list-rich" aria-hidden="true"></span> EditForm4
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="life-cycle-parent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> LifeCycle
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="splat1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AttrSplat1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="splat2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AttrSplat2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cascading">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cascading
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="render-fragment">
                <span class="oi oi-list-rich" aria-hidden="true"></span> RenderFragment
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="template-component">
                <span class="oi oi-list-rich" aria-hidden="true"></span> TemplateComponent
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

