@page "/"

<h1>Blazorの基本的な動作が確認できるプロジェクト</h1>

<ul>
    <li>ライフサイクル</li>
    <li>入力フォーム</li>
    <li>属性スプラッティング</li>
    <li>カスケーティングパラメーター</li>
    <li>子コンポーネントからのイベント受け取り</li>
    <li>RenderFragment</li>
</ul>